In [ ]:
from utils_paths import load_parquet_or_csv, get_accelero_id_from_parquet_or_csv_files
from utils_plotting import *
import pandas as pd

In [5]:
path = "./RSSI/3cfe_RSSI_elevage_3_cut.parquet"
rssi = pd.read_parquet(path, engine="pyarrow")

In [6]:
rssi

,RSSI,tick_accel_day,tick_accel,ble_id,accelero_id,relative_DateTime
0,-44,11.9375,305627.1875,242,3cf2,2025-03-17 00:01:01.937500
1,-30,11.9375,305627.1875,101,3665,2025-03-17 00:01:01.937500
2,-43,11.9375,305627.1875,93,365d,2025-03-17 00:01:01.937500
3,-35,12.0625,305627.3125,109,366d,2025-03-17 00:01:02.062500
4,-45,12.0625,305627.3125,9,3d09,2025-03-17 00:01:02.062500
...,...,...,...,...,...,...
290108,-80,86332.7500,910347.3750,241,3cf1,2025-03-23 23:59:41.750000
290109,-81,86334.9375,910349.5625,108,366c,2025-03-23 23:59:43.937500
290110,-79,86348.7500,910363.3750,253,3cfd,2025-03-23 23:59:57.750000
290111,-78,86348.8750,910363.5000,12,3d0c,2025-03-23 23:59:57.875000
290112,-67,86349.6875,910364.3125,247,3cf7,2025-03-23 23:59:58.687500

In [11]:
path = "Accelerometer/366d_accel_elevage_3_cut.parquet"
acc = pd.read_parquet(path, engine="pyarrow")
acc

,acc_x,acc_y,acc_z,tick_accel_day,tick_accel,relative_DateTime,generated_data
0,0.990234,0.150391,-0.239258,86342.0625,305647.2500,2025-03-17 00:00:00.062500,False
1,0.991211,0.145508,-0.242188,86342.1250,305647.3125,2025-03-17 00:00:00.125000,False
2,0.992188,0.149414,-0.240234,86342.1875,305647.3750,2025-03-17 00:00:00.187500,False
3,0.991211,0.150391,-0.239258,86342.2500,305647.4375,2025-03-17 00:00:00.250000,False
4,0.990234,0.150391,-0.241211,86342.3125,305647.5000,2025-03-17 00:00:00.312500,False
...,...,...,...,...,...,...,...
9676784,-0.657224,0.247967,-0.649461,172749.6875,910446.2500,2025-03-23 23:59:58.687500,True
9676785,-0.657224,0.247967,-0.649461,172749.7500,910446.3125,2025-03-23 23:59:58.750000,True
9676786,-0.657224,0.247967,-0.649461,172749.8125,910446.3750,2025-03-23 23:59:58.812500,True
9676787,-0.657224,0.247967,-0.649461,172749.8750,910446.4375,2025-03-23 23:59:58.875000,True
9676788,-0.657224,0.247967,-0.649461,172749.9375,910446.5000,2025-03-23 23:59:58.937500,True